

<ion-content>

  <ion-card  >

    <ion-card-header>
  
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/cash.png">
        </ion-avatar>

        <ion-button slot="end" color="primary" (click)="dismiss()" >
          Close
          </ion-button>

      </ion-item>

      <ion-card-subtitle>{{req.date | date:'medium' }}</ion-card-subtitle>
      <ion-card-title>
        {{req.phone}}
      </ion-card-title>

      <ion-card-title *ngIf="req.transType== 'M2A'">
      Type:  MPESA TO AIRTIME
      </ion-card-title>

      <ion-card-subtitle *ngIf="req.transType== 'M2A' " > Completed At : {{req.completionTime | date:'medium' }}</ion-card-subtitle>

      <ion-card-title *ngIf="req.transType== 'A2M'">
        Type:  AIRTIME TO MPESA
        </ion-card-title>


        <ion-card-title *ngIf="req.transType== 'Data'">
          Type:  DATA BUNDLES PURCHASE
          </ion-card-title>

          <ion-card-subtitle *ngIf="req.transType== 'M2A' " > Completed At : {{req.completionTime | date:'medium' }}</ion-card-subtitle>


    </ion-card-header>


  <ion-card-content>
   
  <ion-list>


    <ion-item>
      <ion-label>
        State
      </ion-label>
      
      {{req.state}}
    </ion-item>
  

    
    <ion-item >
      <ion-label>
        Device Name
      </ion-label>
      
      {{req.devname}}
    </ion-item>


    
    <ion-item >
      <ion-label>
        Session
      </ion-label>
      
      {{req.sessionId}}
    </ion-item>


    <ion-item >
      <ion-label>
        Data Id
      </ion-label>
      
      {{req._id}}
    </ion-item>


    <ion-item >
      <ion-label *ngIf="req.transType == 'M2A'">
       Airtime to be received
      </ion-label>

      <ion-label *ngIf="req.transType== 'A2M'">
        Amount of Airtime to Convert
       </ion-label>

       <ion-label *ngIf="req.transType== 'Data'">
        Amount of Airtime the Data will cost US.
       </ion-label>


        {{req.airtimeAmount? req.airtimeAmount:req.amount}}


    </ion-item>


    <ion-item >
      <ion-label *ngIf="req.transType== 'M2A'">
       Amount of Cash to be paid BY Client
      </ion-label>

      <ion-label *ngIf="req.transType== 'Data'">
        Amount of Cash to be paid BY Client
       </ion-label>

      <ion-label *ngIf="req.transType== 'A2M'">
        Amount of Cash to be paid TO Client
       </ion-label>


        {{req.mpesaAmount}}
    </ion-item>

    <ion-item  *ngIf="req.transType== 'Data'">
      <ion-label>
       Data Type:
      </ion-label>
      {{req.Provider}}---{{req.Category}}---{{req.dataAmount}}
      </ion-item>


      <ion-item *ngIf="req.transType== 'Data'">
        <ion-label >
         Device Responce:
        </ion-label>
        {{req.dataSms == "" ?  'Incomplete':req.dataSms}}
        </ion-item>


        <ion-item *ngIf="req.transType== 'M2A'">
          <ion-label >
           Device Responce:
          </ion-label>
          {{req.sms == "" ?  'Incomplete':req.sms}}
          </ion-item>
     

<ion-item *ngIf="req.transType == 'A2M'">
     
      <ion-label >
        Name of Client :
       </ion-label>
        {{req.state == 'complete' && req.MpesaDetails[0] !== undefined? req.MpesaDetails[0].Value:'Incomplete transaction'}}
    </ion-item>

    <ion-item *ngIf="req.transType == 'A2M'">
      <ion-label>
        TransactionID: 
      </ion-label>
    
      {{req.TransactionID}}
    </ion-item>

    <ion-item *ngIf="req.transType == 'M2A' || req.transType == 'Data' || req.sessionId != 'b2bApiPurchase' ">
      <ion-label>
        TransactionID:
      </ion-label>
    
      {{req.MpesaDetails[0] !== undefined? req.MpesaDetails[1].Value:'Mpesa Transaction not completed by client'}}
    </ion-item>

    <ion-item *ngIf="req.sessionId == 'b2bApiPurchase' ">
      <ion-label>
        Source: 
      </ion-label>
    
      {{req.source}}
    </ion-item>

    <ion-item *ngIf="req.sessionId == 'b2bApiPurchase' ">
      <ion-label>
        SourceId: 
      </ion-label>
    
      {{req.sourceID}}
    </ion-item>


<ion-item>
<ion-label>
Mpesa Response: 
</ion-label>

{{req.ResultDesc}}
</ion-item>



<ion-item *ngIf="req.transType == 'M2A' || req.transType == 'Data' ">
  <ion-label>
    Distribution: 
  </ion-label>

  <div *ngFor="let item of req.distribution">

   Device: {{item? item.Device:"null"}} ... Amount: {{item?item.amount:"null"}}

  </div>


</ion-item>



<ion-item *ngIf= "req.manual" >
  <ion-label>
  Manual Trans: 
  </ion-label>

  <ion-grid>
    <ion-row>
      <p>
        By: {{req.manualDescr.by}}
      </p>
    </ion-row>


    <ion-row>
      <p>
        aprovedBy: {{req.manualDescr.aprovedBy}}
      </p>
    </ion-row>

  

    <ion-row>
      <p>
        Description: {{req.manualDescr.reason}}
      </p>
    </ion-row>


    <ion-row>
      <p>
        Time: {{req.manualDescr.time | date: 'medium'}}
      </p>
    </ion-row>

    <ion-row>
      <p>
        approvedAt: {{req.manualDescr.approvedAt | date: 'medium'}}
      </p>
    </ion-row>

    <ion-row>
      <p>
        Type: {{req.manualDescr.type}}
      </p>
    </ion-row>


  </ion-grid>

</ion-item>


  

<ion-item *ngIf= "!req.manual" >
  <ion-label floating>
  Transaction purpose:
  </ion-label>
  
 <ion-input type="text" [(ngModel)]="purpose" placeholder="Purpose of manual transaction"></ion-input>

  </ion-item>



    </ion-list>
  </ion-card-content>


  <ion-button (click)="sendCredit(req)" [disabled] = "req.state == 'complete' || req.transType == 'A2M'  ">
    
    Send Airtime
  </ion-button>

  <ion-button *ngIf=" user == 'babzgeo27@gmail.com'? true:user == 'mutie.michael@gmail.com'? true:user == 'gmngari1@gmail.com'? true:false  "  (click)="sendMoney(req)" [disabled] = "req.state == 'complete' || req.transType != 'A2M' ">
    
  Send Money
  </ion-button>


  <ion-button *ngIf=" user == 'babzgeo27@gmail.com'? false:user == 'mutie.michael@gmail.com'? false:user == 'gmngari1@gmail.com'? false:true "  (click)="sendMoneyApproval(req)" [disabled] = "req.state == 'complete' || req.transType != 'A2M' ">
    
    Send Money Approval
    </ion-button>


  <ion-button (click)="sendData(req)" [disabled] = "req.state != 'complete' && req.transType == 'Data'? false:true">
    
    Send Data
  </ion-button>
 
  <ion-button color="danger" (click)="completTrans(req)" [disabled] = "req.state != 'complete'  ? false:true">
  Cancel
  </ion-button>

</ion-card>


</ion-content>
