
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    
    <ion-searchbar [(ngModel)]="searchKey" animated  (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  

  </ion-toolbar>
 

</ion-header>


<ion-content>

  


<ion-grid>
  

  <ion-list>
 

    <ion-item-divider>
      
  
      <ion-row >
    
     
    
      <ion-col size="auto" class="ion-align-self-center" >
        <ion-button (click)="getMpesabalance()" fill="outline">MPESA Utility Balance: KES {{mpesaBalance3}}</ion-button>
    
      </ion-col>

      <ion-col size="auto" class="ion-align-self-center" >
        <ion-button (click)="getMpesabalance()" fill="outline">MPESA Working Balance : KES {{mpesaBalance2}}</ion-button>
    
      </ion-col>
    

      <ion-col size="auto" class="ion-align-self-center" >
        <ion-button (click)="africabalance()" fill="outline">USSD/SMS Balance : KES {{smsBalance}}</ion-button>
    
      </ion-col>
  
    <!--
 <ion-col size="12" class="ion-align-self-center" >
    <ion-button (click)="getMpesabalance()" fill="outline">Utility Account : {{mpesaBalance}}</ion-button>

  </ion-col>


-->
     
      </ion-row>
    
    </ion-item-divider>
    
    



<ion-item-divider>
      
    
  <ion-row *ngIf=" user == 'babzgeo27@gmail.com'? false:true" >

  <ion-col size="auto" *ngFor="let dev of devices"  class="ion-align-self-start" >

    <!---->

    <ion-button  fill="outline" [color]="dev.state === 'online'? 'success':'danger'">{{dev.name}} ({{dev.phone}}): KES {{dev.balance}} -- {{dev.state === 'online'? 'online':'offline'}} </ion-button>

  </ion-col>

  </ion-row>

  
  <ion-row *ngIf=" user == 'babzgeo27@gmail.com'? true:false" >

    <ion-col size="auto" *ngFor="let dev of devices"  class="ion-align-self-start" >
  
      <!--({{dev.phone}})   (click)="getCreditBalance(dev)"  -->
  
      <ion-button  (click)="getCreditBalance(dev)" fill="outline" [color]="dev.state === 'online'? 'success':'danger'">{{dev.name}} ({{dev.phone}}): KES {{dev.balance}} -- {{dev.state === 'online'? 'online':'offline'}} -- {{dev.usage}}</ion-button>
  
    </ion-col>
    
    </ion-row>


</ion-item-divider>


<ion-row >
  <ion-col >

    <ion-button (click)="getCreditBalance({name:null})"  fill="outline" color='success'>Data-Airtime Exchanger  {{dispersable}} : {{totalAirtime}} --ONLINE </ion-button>
  </ion-col>
</ion-row>



<ion-item-divider >

  <ion-row  >
   
    <ion-col size="12" class="ion-align-self-center" >

      <ion-card >

        <ion-card-header>
          <ion-card-subtitle>This will prompt the buyer via mpesa pop-up menu</ion-card-subtitle>
          <ion-card-title>Send Airtime to Distributor</ion-card-title>
        </ion-card-header>
        
      
        <ion-card-content>
          <ion-item>
            <ion-label>My Devices</ion-label>
        
          <ion-select [(ngModel)]="myDevice" placeholder="Select One" okText="Okay" cancelText="Dismiss">
          
              <ion-select-option *ngFor="let device of devices" [value]="device.phone">{{device.name}}--{{device.phone}}</ion-select-option>
        
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Buyer number </ion-label>
            <ion-input [(ngModel)]="clientPhone" clearInput placeholder="07..." ></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Amount </ion-label>
            <ion-input [(ngModel)]="Amount" clearInput placeholder="Kes" ></ion-input>
          </ion-item>


        </ion-card-content>


        <ion-item *ngIf=" user == 'babzgeo27@gmail.com'? true:user == 'mutie.michael@gmail.com'? true:user == 'gmngari1@gmail.com'? true:false  ">
          <ion-button [disabled]=" clientPhone != '' && Amount != null && myDevice != '' ? false:true   " (click)="sendAirtime()" expand="block" fill="outline" >Send</ion-button>
        </ion-item>

      </ion-card>
      
    </ion-col>
  
  
    </ion-row>
  </ion-item-divider>



</ion-list>


<ion-list *ngIf=" user == 'babzgeo27@gmail.com'? true:user == 'mutie.michael@gmail.com'? true:user == 'gmngari1@gmail.com'? true:user == 'muli@bambaswap.com'? true:false  " >


  <ion-title size="large">Breakdown</ion-title>

<ion-item-divider>
<ion-row>
  <ion-col>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input [min]="minDate" [max]="maxDate"   matStartDate formControlName="start" placeholder="Start date">
      <input  [min]="minDate" [max]="maxDate"  matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
</ion-col>

  <ion-col>
    <ion-button  (click)="calcRequests()" expand="block" fill="outline" >Search</ion-button>
  </ion-col>

</ion-row>
</ion-item-divider>

<ion-text color="primary">
  <h4>Start: {{range.value.start | date:'medium' }}</h4>
</ion-text>

<ion-text color="primary">
  <h4>End: {{range.value.end | date:'medium' }}</h4>
</ion-text>

<ion-item>

</ion-item>

<ion-item-divider>

  <ion-title size="medium">Airtime Purchase</ion-title>
  
</ion-item-divider>


<ion-row class="ion-align-items-center">

  <ion-col>
    TYPE
  </ion-col>
  <ion-col>
    CREDIT
  </ion-col>
  <ion-col>
    AMOUNT
  </ion-col>
  <ion-col>
    PROFIT
  </ion-col>

</ion-row>



<ion-row class="ion-align-items-center">

  <ion-col>
    Airtime 
  </ion-col>
  <ion-col>
    {{airtimeCredit}}
  </ion-col>
  <ion-col>
    {{airtimeCash}}
  </ion-col>
  <ion-col>
    {{airtimeProfit}}
  </ion-col>

</ion-row>


<ion-row class="ion-align-items-center">

  <ion-col>
    Data 
  </ion-col>
  <ion-col>
    {{dataCredit}}
  </ion-col>
  <ion-col>
    {{dataCash}}
  </ion-col>
  <ion-col>
    {{dataProfit}}
  </ion-col>

</ion-row>




<ion-row class="ion-align-items-center">

  <ion-col>
    TOTALS 
  </ion-col>
  <ion-col>
    {{dataCredit + airtimeCredit}}
  </ion-col>
  <ion-col>
    {{dataCash + airtimeCash }}
  </ion-col>
  <ion-col>
    {{airtimeProfit + dataProfit}}
  </ion-col>

</ion-row>




<ion-row >




</ion-row>

<ion-item>

</ion-item>



<ion-item-divider>

  <ion-title size="medium">Conversion </ion-title>
  
</ion-item-divider>


<ion-row class="ion-align-items-center">
  <ion-col>
    AIRTIME RECEIVED
  </ion-col>
  <ion-col>
    CASH SENT
  </ion-col>
  <ion-col>
    COST
  </ion-col>
</ion-row>


<ion-row>
  <ion-col>
    {{conversionAirtime}}
  </ion-col>

  <ion-col>
    {{conversionCash}}
  </ion-col>


  <ion-col>
    {{conversionCost}}
  </ion-col>

</ion-row>

<ion-row>

  <ion-col>
  Mpesa-Transaction cost
  </ion-col>


  <ion-col>
     ---
    </ion-col>


    <ion-col>
      <ion-col>
        {{conversionCost}}
      </ion-col>
      </ion-col>

</ion-row>


<ion-row>

  <ion-col>
  USSD- Dialing cost
  </ion-col>


  <ion-col>
     ---
    </ion-col>


    <ion-col>
      <ion-col>
        {{conversionCost1}}
      </ion-col>
      </ion-col>

</ion-row>


<ion-row>

  <ion-col>
  TOTAL cost
  </ion-col>


  <ion-col>
     ---
    </ion-col>


    <ion-col>
      <ion-col>
        {{conversionCost +  conversionCost1}}
      </ion-col>
      </ion-col>

</ion-row>

</ion-list>

</ion-grid>

</ion-content>