<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title size="large">{{ folder }}</ion-title>
 
    <ion-searchbar [(ngModel)]="searchKey" animated  (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  
 
    <ion-row>

    <ion-col>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input [min]="minDate" [max]="maxDate"   matStartDate formControlName="start" placeholder="Start date">
          <input  [min]="minDate" [max]="maxDate"  matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
<ion-row>
  <ion-button  (click)="getByDate()" expand="block" fill="outline" >Search</ion-button>
</ion-row>
     
    </ion-col>
    
    


     
        <ion-col size="4">
          <ion-item>
            <ion-label>Manual Transactions</ion-label>
        
          <ion-select [(ngModel)]="filterManual" placeholder="Show Manual Requests" okText="Okay" cancelText="Dismiss">
          
              <ion-select-option  [value]= true >Yes</ion-select-option>
              <ion-select-option  [value]= false >No</ion-select-option>
        
            </ion-select>
          </ion-item>

<ion-item>

  <ion-button col (click)="placeFilters()" >
    Filter
    </ion-button>

    <ion-button color= "danger" col (click)="clearFilters()">
      Clear
      </ion-button>
</ion-item>

      </ion-col>

 
     
    </ion-row>


  </ion-toolbar>
 

</ion-header>

<ion-content >
 
  <ion-refresher slot="fixed" (ionRefresh)="getUsersList($event)" pullMin="100" pullMax="200">
    <ion-refresher-content 
    pullingIcon="arrow-down-outline" 
    pullingText="Pull to refresh" 
    refreshingSpinner="crescent"
    refreshingText="Refreshing...">
  </ion-refresher-content>
  </ion-refresher>

  <ion-segment color="dark" [(ngModel)]="states"  >


    <ion-segment-button value="A2M">
      AIRTIME TO MPESA
    </ion-segment-button>
  
    <ion-segment-button  value="M2A">
      BUY AIRTIME
    </ion-segment-button>

    <ion-segment-button  value="Data">
     BUY DATA
    </ion-segment-button>



  </ion-segment>







  <ion-grid  [ngSwitch]="states">


    <ion-row  *ngSwitchCase="'A2M'" >

      <ion-virtual-scroll [items]="A2M">
      

<ion-item button (click)="presentModal(req)" *virtualItem="let req" >
  <ion-thumbnail slot="start">
    <img src="assets/img/cash.png">
  </ion-thumbnail>
  <ion-label class="ion-text-wrap">
    Phone: {{req.phone}}
    <ion-text color="primary">
      <h3>Date: {{req.date | date:'medium' }}</h3>
    </ion-text>
    <ion-text *ngIf="req.transType== 'M2A'" color="secondary">
      <h3>Type:  MPESA TO AIRTIME</h3>
    </ion-text>

    <ion-text *ngIf="req.transType== 'A2M'" color="success">
      <h3>Type:  AIRTIME TO MPESA</h3>
    </ion-text>

    <ion-text *ngIf="req.transType== 'Data'" color="success">
      <h3>Type:   DATA BUNDLES</h3>
    </ion-text>

    
    <ion-text *ngIf="req.transType== 'M2A'" >
      Airtime to be received: <span style="color: green;">Kes {{req.amount}}</span>
    </ion-text>

    <ion-text *ngIf="req.transType== 'A2M'" >
      Airtime to Convert: <span style="color: green;"> Kes {{req.amount}}</span>
    </ion-text>

    <ion-text *ngIf="req.transType== 'Data' " >
      Data type: <span style="color: green;"> {{req.Category}}</span>
    </ion-text>

    


    <ion-text *ngIf="req.transType== 'M2A'" >
    Cash to Pay: <span style="color: green">Kes {{req.mpesaAmount}}</span>
    </ion-text>

    <ion-text *ngIf="req.transType== 'Data'" >
      Cash to Pay: <span style="color: green">Kes {{req.mpesaAmount}}</span>
      </ion-text>

    <ion-text *ngIf="req.transType== 'A2M'" >
      Cash to be received by client: <span style="color: green">Kes {{req.mpesaAmount}}</span>
    </ion-text>


  <ion-text *ngIf="req.state === 'complete'" color="success" >
    <p> {{req.state}}</p>
  </ion-text>

  <ion-text *ngIf="req.state === 'pendingMpesa' || req.state ==='pendingCredit' || req.state ==='pendingData' || req.state ==='pendingApproval' " color="danger" >
    <p> {{req.state}}</p>
  </ion-text>

  <ion-text *ngIf="req.state === 'error404' || req.state === 'requestExpired' " color="danger">
    <p> {{req.state}}</p>
  </ion-text>
  
 
  

  </ion-label>

  


  


  
</ion-item>


</ion-virtual-scroll>



  </ion-row>



  <ion-row   *ngSwitchCase="'M2A'" >

    <ion-virtual-scroll [items]="M2A">
    

<ion-item button (click)="presentModal(req)" *virtualItem="let req" >
<ion-thumbnail slot="start">
  <img src="assets/img/cash.png">
</ion-thumbnail>
<ion-label class="ion-text-wrap">
  Phone: {{req.phone}}
  <ion-text color="primary">
    <h3>Date: {{req.date | date:'medium' }}</h3>
  </ion-text>
  <ion-text *ngIf="req.transType== 'M2A'" color="secondary">
    <h3>Type:  MPESA TO AIRTIME</h3>
  </ion-text>

  <ion-text *ngIf="req.transType== 'A2M'" color="success">
    <h3>Type:  AIRTIME TO MPESA</h3>
  </ion-text>

  <ion-text *ngIf="req.transType== 'Data'" color="success">
    <h3>Type:   DATA BUNDLES</h3>
  </ion-text>

  
  <ion-text *ngIf="req.transType== 'M2A'" >
    Airtime to be received: <span style="color: green;">Kes {{req.amount}}</span>
  </ion-text>

  <ion-text *ngIf="req.transType== 'A2M'" >
    Airtime to Convert: <span style="color: green;"> Kes {{req.amount}}</span>
  </ion-text>

  <ion-text *ngIf="req.transType== 'Data' " >
    Data type: <span style="color: green;"> {{req.Category}}</span>
  </ion-text>

  


  <ion-text *ngIf="req.transType== 'M2A'" >
  Cash to Pay: <span style="color: green">Kes {{req.mpesaAmount}}</span>
  </ion-text>

  <ion-text *ngIf="req.transType== 'Data'" >
    Cash to Pay: <span style="color: green">Kes {{req.mpesaAmount}}</span>
    </ion-text>

  <ion-text *ngIf="req.transType== 'A2M'" >
    Cash to be received by client: <span style="color: green">Kes {{req.mpesaAmount}}</span>
  </ion-text>


<ion-text *ngIf="req.state === 'complete'" color="success" >
  <p> {{req.state}}</p>
</ion-text>

<ion-text *ngIf="req.state === 'pendingMpesa' || req.state ==='pendingCredit' || req.state ==='pendingData' " color="danger" >
  <p> {{req.state}}</p>
</ion-text>

<ion-text *ngIf="req.state === 'error404' "  color="danger">
  <p> {{req.state}}</p>
</ion-text>

</ion-label>








</ion-item>


</ion-virtual-scroll>



</ion-row>




<ion-row  *ngSwitchCase="'Data'" >

  <ion-virtual-scroll [items]="Data">
  

<ion-item button (click)="presentModal(req)" *virtualItem="let req" >
<ion-thumbnail slot="start">
<img src="assets/img/cash.png">
</ion-thumbnail>
<ion-label class="ion-text-wrap">
Phone: {{req.phone}}
<ion-text color="primary">
  <h3>Date: {{req.date | date:'medium' }}</h3>
</ion-text>
<ion-text *ngIf="req.transType== 'M2A'" color="secondary">
  <h3>Type:  MPESA TO AIRTIME</h3>
</ion-text>

<ion-text *ngIf="req.transType== 'A2M'" color="success">
  <h3>Type:  AIRTIME TO MPESA</h3>
</ion-text>

<ion-text *ngIf="req.transType== 'Data'" color="success">
  <h3>Type:   DATA BUNDLES</h3>
</ion-text>


<ion-text *ngIf="req.transType== 'M2A'" >
  Airtime to be received: <span style="color: green;">Kes {{req.amount}}</span>
</ion-text>

<ion-text *ngIf="req.transType== 'A2M'" >
  Airtime to Convert: <span style="color: green;"> Kes {{req.amount}}</span>
</ion-text>

<ion-text *ngIf="req.transType== 'Data' " >
  Data type: <span style="color: green;"> {{req.Category}}</span>
</ion-text>




<ion-text *ngIf="req.transType== 'M2A'" >
Cash to Pay: <span style="color: green">Kes {{req.mpesaAmount}}</span>
</ion-text>

<ion-text *ngIf="req.transType== 'Data'" >
  Cash to Pay: <span style="color: green">Kes {{req.mpesaAmount}}</span>
  </ion-text>

<ion-text *ngIf="req.transType== 'A2M'" >
  Cash to be received by client: <span style="color: green">Kes {{req.mpesaAmount}}</span>
</ion-text>


<ion-text *ngIf="req.state === 'complete'" color="success" >
<p> {{req.state}}</p>
</ion-text>

<ion-text *ngIf="req.state === 'pendingMpesa' || req.state ==='pendingCredit' || req.state ==='pendingData' " color="danger" >
<p> {{req.state}}</p>
</ion-text>

<ion-text *ngIf="req.state === 'error404' "  color="danger">
  <p> {{req.state}}</p>
</ion-text>

</ion-label>








</ion-item>


</ion-virtual-scroll>



</ion-row>


</ion-grid>


</ion-content>
