<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>client</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>


    <ion-row>
      <ion-col size="12" class="ion-align-self-center" >
  
        <ion-card>
  
          <ion-card-header>
           
            <ion-card-title>Send Sms to Clients</ion-card-title>
          </ion-card-header>
          
        
          <ion-card-content>

           
             
               <ion-item>
                 <ion-label>Select one</ion-label>
             
               <ion-select (ionChange)="selectionChange($event)" placeholder="Select One" okText="Okay" cancelText="Dismiss">
               
                   <ion-select-option value="Send to All">Send to all</ion-select-option>

                   <ion-select-option value="Send to Specific">Send to Specific</ion-select-option>
             
                 </ion-select>
               </ion-item>
         


            <ion-item>
              <ion-label position="floating">Client number </ion-label>
              <ion-input (ionChange)="phoneChange($event)"  [disabled]=" recipient != 'Send to All'  && recipient != '' ? false:true "  clearInput placeholder="254..." ></ion-input>
            </ion-item>
  
  
            <ion-item>
              <ion-label position="floating">Sms </ion-label>
              
              <ion-textarea (ionChange)="smsChange($event)" placeholder="Enter sms here..."></ion-textarea>
            </ion-item>
  
  
          </ion-card-content>
  
  
          <ion-item>
            <ion-button [disabled]=" recipient != '' && Sms != ''? false:true " (click)="sendSms()" expand="block" fill="outline" >Send</ion-button>
          </ion-item>
  
        </ion-card>
        
      </ion-col>
    
    
      </ion-row>
    
  
  </ion-grid>
</ion-content>
