<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title size="large">App Data</ion-title>
 
   
  
  </ion-toolbar>
 

</ion-header>

<ion-content>





  <ion-list>
   
    <ion-item>
         
      
      <ion-button (click)="presentNewModal(null)"   slot="end">
        Add Add
      </ion-button>


    </ion-item>

  </ion-list>

<ion-list *ngFor="let data of products">


    <ion-card >

      <ion-card-header >

        <ion-item lines="none" >
          <ion-thumbnail slot="start">
            <img [src]="data.image? data.image: 'assets/img/water-drop1.png' ">
          </ion-thumbnail>



          <ion-label>
            <ion-text>
              Name: {{data.customName}}
            </ion-text>


            <div>
              <p>
                Description: {{data.description}}
              </p>
            </div>
           

          </ion-label >

  

        </ion-item>
      
      </ion-card-header>
      


      <ion-card-content class="ion-no-padding">

        <ion-item lines="none">

      
          
          <ion-button slot="end"  (click)="presentEditModal(data)" >
            Edit Product
          </ion-button>
          </ion-item>

      </ion-card-content>

    </ion-card>



  </ion-list>


  


</ion-content>
