<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
 

</ion-header>

<ion-content >


  
<ion-grid>
  <ion-row>

    <ion-item>
      <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-osdea/embed/charts?id=56f56524-486d-4a71-ac4b-8e88505b27db&autoRefresh=300&theme=dark"></iframe>
    </ion-item>


    </ion-row>


    <ion-row>

      <ion-item>
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-osdea/embed/charts?id=ad11799e-4a0d-4072-bd8a-5fa26dd7a632&autoRefresh=14400&theme=light"></iframe>  
      </ion-item>
      </ion-row>


      <ion-row>

        <ion-item>
          <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-osdea/embed/charts?id=be886e8a-7e10-48f0-a8f3-912a7732a9f1&autoRefresh=28800&theme=dark"></iframe>    
        </ion-item>
    
    
        </ion-row>


        <ion-row>

          <ion-item>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-osdea/embed/charts?id=c24ddee6-7a6f-4096-bd24-921c8a79ef3b&autoRefresh=14400&theme=light"></iframe>  
          </ion-item>
          </ion-row>

        <ion-row>

          <ion-item>

<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1000" height="480" src="https://charts.mongodb.com/charts-project-0-osdea/embed/charts?id=05708b6f-88f3-4e9f-b12d-3b90555cac65&autoRefresh=1800&theme=dark"></iframe>         
         
          </ion-item>
      
          </ion-row>


    </ion-grid>

  </ion-content>