


<ion-content>


  <ion-card  >
    <ion-card-header class="ion-text-center">

      <ion-item>

        <ion-button slot="end" color="primary" (click)="dismiss()" >
          Close
          </ion-button>

      </ion-item>

      <ion-progress-bar ion-padding color="primary" [value]="per"></ion-progress-bar>

      <div  style="  width:100%; height:100%"> 
         <img height=50% width= 50%;  [src]="myUrl? myUrl:'assets/img/bambaswap.jpg'"  />
        
         
  <ion-button *ngIf="!isFileUploading && !isFileUploaded" slot="start" expand="full" color="success" >
    
    <span>Upload Image</span>
    
  
    <input id="uploadBtn" type="file" class="upload" (change)="uploadImage($event.target.files)"/>
  </ion-button>

    
    </div>

    <ion-card-title >
      Image Name: {{name}}
      </ion-card-title>
    
    
          <ion-text color="success">
            <p>Description: {{description}}</p>
          </ion-text>
      
    </ion-card-header>

    <ion-card-content>

    
      <ion-item >
        <ion-label position="floating" >Name</ion-label>

        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating"  >Description</ion-label>

        <ion-input [(ngModel)]="description"></ion-input>
      </ion-item>

    


      

<ion-item lines="none">

  <ion-button *ngIf="!isFileUploading && isFileUploaded" slot="start" expand="full" color="danger"
   (click)="delete()">Re-upload Image</ion-button>

  <ion-button *ngIf="mode === 'edit' " [disabled]=" !isFileUploaded || name === '' || description ==='' " color="danger"
 
  slot="start" (click)="deleteProduct()" >
    Delete Product
  </ion-button>

  <ion-button *ngIf="mode === 'edit' " [disabled]=" !isFileUploaded || name === '' || description ===''  " slot = "end" expand="full"
  
  color="success" (click)="updateProduct()" >Update App-Add</ion-button>
    

  <ion-button *ngIf="mode === 'new' " [disabled]=" !isFileUploaded || name === '' || description ==='' " slot = "end" expand="full"
  
  color="success" (click)="storeImageData()">Save App-Add</ion-button>

</ion-item>


    
      
     
    </ion-card-content>
  </ion-card>




</ion-content>
  
