<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- -->
<ion-content padding class="profiles-bg">
	<div class="auth-content">




		<!-- Logo -->
		<div padding-horizontal text-center>
			<div >
			
			</div>
			<h2 ion-text class="text-secondary" no-margin>
				<strong>bamba</strong>Swap
			</h2>
		</div>





		<div padding-vertical>

		  <ion-segment [(ngModel)]="auth" color="light">

		    <ion-segment-button value="login">
		      Login
				</ion-segment-button>

		    <ion-segment-button value="register">
		      Register
				</ion-segment-button>

		  </ion-segment>
		</div>









		<div [ngSwitch]="auth">
			<!-- Login form -->
			<div id="loginForm" *ngSwitchCase="'login'">

				<form [formGroup]="onLoginForm">
					<ion-item>
						<ion-label floating>
							<ion-icon name="call" item-start class="text-white"></ion-icon>
							Phone Number
						</ion-label>
						<ion-input type="number" formControlName="phone"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('phone').touched && onLoginForm.get('phone').hasError('required')">This field is required</p>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('phone').touched && onLoginForm.get('phone').hasError('minlength')">Enter a valid phone number</p>

					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('phone').touched && onLoginForm.get('phone').hasError('maxlength')">Enter a valid phone number</p>


					<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Password
						</ion-label>
						<ion-input type="password" formControlName="password"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">This field is required</p>



				</form>




<p text-right ion-text color="light" tappable (click)="forgotPass()">

	<strong>Forgot Password?</strong>

</p>



				<div>
					<ion-button icon-start block color="success" (click)="login()" [disabled]="!onLoginForm.valid">
						<ion-icon name="log-in"></ion-icon>
						SIGN IN
					</ion-button>
				</div>


			</div>




			<div id="registerForm" *ngSwitchCase="'register'">
				
				<!-- Register form (click)="register()" -->

		    <form [formGroup]="onRegisterForm" class="list-form">


		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="person" item-start class="text-white"></ion-icon>
		          First Name
		        </ion-label>
		        <ion-input type="text" formControlName="name"></ion-input>
					</ion-item>


		      <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('name').touched && onRegisterForm.get('name').hasError('required')">This field is required</p>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('name').touched && onRegisterForm.get('name').hasError('minLength')">Should have at least 4 characters</p>

<!--		      <ion-item>
							<ion-label floating>
								<ion-icon name="person" item-start class="text-white"></ion-icon>
								Last Name
							</ion-label>
							<ion-input type="text" formControlName="lastName"></ion-input>
						</ion-item>

						<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('lastName').touched && onRegisterForm.get('lastName').hasError('minlength')">Should have at least 2 characters</p>

						<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('lastName').touched && onRegisterForm.get('lastName').hasError('required')">This field is required</p>

-->

		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="mail" item-start class="text-white"></ion-icon>
		          Email
		        </ion-label>
		        <ion-input  type="email" formControlName="email"></ion-input>
					</ion-item>

		      <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('email')"> Invalid email</p>

		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="call" item-start class="text-white"></ion-icon>
		          Phone
		        </ion-label>
		        <ion-input  type="number" formControlName="phone"></ion-input>
					</ion-item>


		      <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('phone').touched && onRegisterForm.get('phone').hasError('required')">This field is required</p>

					<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('phone').touched && onRegisterForm.get('phone').hasError('minlength')">Enter a valid phone number</p>

					<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('phone').touched && onRegisterForm.get('phone').hasError('maxlength')">Enter a valid phone number</p>




		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="lock" item-start class="text-white"></ion-icon>
		          Password
		        </ion-label>
		        <ion-input type="password" formControlName="password"></ion-input>
					</ion-item>

					<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('minlength')">Should have at least 6 characters</p>

		      <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">This field is required</p>

				</form>



		    <div margin-top>


		      <ion-button block color="secondary"  [disabled]="!onRegisterForm.valid" (click)="register()" >
		        SIGN UP
				</ion-button>


				</div>


		  </div>





		</div>


	</div>



</ion-content>

