<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
 
    <ion-searchbar [(ngModel)]="searchKey" (ionCancel)="onCancel()"></ion-searchbar>
  

  </ion-toolbar>
 

</ion-header>


<ion-content>

  <ion-list>
 <ion-list-header>
   
  </ion-list-header>


  <ion-item>
    <ion-label>My Devices</ion-label>

  <ion-select [(ngModel)]="device" placeholder="Select One" okText="Okay" cancelText="Dismiss">
  
      <ion-select-option *ngFor="let device of myDevices" [value]="device.phone">{{device.name}}--{{device.phone}}</ion-select-option>

    </ion-select>
  </ion-item>

</ion-list>

<!--
<h3 *ngIf="sms.length === 0? true:false ">Server responce: {{title}}</h3>

  <h3 *ngIf="sms.length === 0? true:false "> No sms to display</h3>
-->

<ion-grid>
  <ion-row>
  <ion-col  class="ion-align-self-center" size="12" *ngFor="let sms of sms" >
    <ion-card  >

      <ion-card-header>
        <ion-avatar item-start>
          <img src="assets/img/cash.png">
        </ion-avatar>
        <ion-card-title>
          Sambaza Sms Sent by Client
        </ion-card-title>
      </ion-card-header>
  
  
    <ion-card-content>
      <ion-list>
        <ion-item>
        
          <ion-label>
            Phone number: 
          </ion-label>
          <h3>{{searchKey}}</h3>
        </ion-item>

        <ion-item >
          <ion-label>
            Date: 
          </ion-label>
  
          <p>{{sms.date | date:'medium'}}</p>
        </ion-item>
            
              <ion-item >
                <ion-label>
                  Message: 
                </ion-label>
        
                <p>{{sms.body}}</p>
              </ion-item>
        
        
              <ion-item >
                <ion-label>
                  From: 
                </ion-label>
               {{sms.address}}
              </ion-item>
        </ion-list>
    </ion-card-content>

  

  </ion-card>
</ion-col>
</ion-row>
</ion-grid>



  <ion-button  (click)="sendReq()" color="success">Send request for Sms</ion-button>
</ion-content>



